{% extends 'main.html' %}
{% block content %}

<center>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "View Reviews Of {{resturant.res_name}}"
                },
                data: [{
                    type: "pie",
                    startAngle: 240,
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: [
                        { y: "{{pos}}", label: "Positive" },
                        { y: "{{neg}}", label: "Negative" },
                        { y: "{{neu}}", label: "Neutral" },

                    ]
                }]
            });
            chart.render();

        }
    </script>
    <div class="col-md-7">

        <div class="card card-body">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            <hr>
            <a class="btn btn-sm btn-primary" href="{% url 'home' %}">Back</a>

        </div>

    </div>
</center>
{% endblock %}